nav{
    background: rgba(26, 153, 142, 1);
    color: #FFFFFF;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 20%;
            margin: 0;
            li{
                cursor: pointer;
                font-size: 20px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}