.box{
    width: 90%;
    margin: 100px auto;
    height: 500px;
    //border: rgba(26, 153, 142, 1) solid 3px ;
    ul{
        li{
            font-size: 23px;
            margin: 20px 0;
        }
    }
    img{
        width: 90%;
        // max-height: 500px;
        // min-height: 500px;
    }
}
.main-color{
    color: rgba(26, 153, 142, 1);
}